In [1]:
import pandas as pd
import csv
csvfile = ("properties_2017.csv")
zillowDF2017 = pd.read_csv(csvfile)

C:\Users\selli\Anaconda36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
zillowDF2017.shape

(2985217, 58)

In [21]:
zillowDF2017.head(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,179072.0,287634.0,2016.0,108562.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,404013.0,563029.0,2016.0,159016.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,103553.0,698984.0,2016.0,595431.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,4.0,NaN,NaN,...,1.0,NaN,221771.0,265184.0,2016.0,43413.0,4054.76,NaN,NaN,NaN

In [23]:
fipsCount = zillowDF2017.groupby('fips').count()

In [ ]:
len(zillowDF2017)

In [24]:
fipsCount

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
fips,,,,,,,,,,,,,,,,,,,,,
6037.0,2012741,726536,1,0,2012719,2012731,12731,1941395,1957657,0,...,13113,2,1977997,1987828,2012741,1987827,2004170,48996,48998,1957791
6059.0,745800,88826,6060,0,745797,745797,0,0,705088,0,...,468805,5160,745003,745703,745800,723649,740876,6212,6212,733416
6111.0,223744,0,0,1627,223744,223744,0,0,205316,17379,...,203758,1,215753,217420,223743,213815,217419,1307,1307,219025

In [22]:
zillowDF2017.describe(include='all')

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
count,2.985217e+06,815362.000000,6061.000000,1627.000000,2.982260e+06,2.982272e+06,12731.000000,1.941395e+06,2.868061e+06,17379.0,...,685676.000000,5163,2.938753e+06,2.950951e+06,2.982284e+06,2.925291e+06,2.962465e+06,56515,56517.000000,2.910232e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5163,NaN,NaN,NaN,NaN,NaN,56515,NaN,NaN
mean,1.332586e+07,1.945723,7.202607,647.220652,2.216196e+00,3.093362e+00,3.734742,6.280822e+00,2.303826e+00,66.0,...,1.400956,NaN,1.781429e+05,4.435279e+05,2.015998e+03,2.684558e+05,5.408949e+03,NaN,13.891696,6.048434e+13
std,7.909966e+06,3.160507,2.436290,538.787104,1.078250e+00,1.271569e+00,0.500371,1.729923e+00,1.003243e+00,0.0,...,0.539056,NaN,4.600503e+05,8.163366e+05,6.039949e-02,4.865097e+05,9.675567e+03,NaN,2.562172,3.249133e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,66.0,...,1.000000,NaN,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,2.400000e-01,NaN,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,5.000000e+00,2.000000e+00,66.0,...,1.000000,NaN,7.766600e+04,1.882200e+05,2.016000e+03,7.970000e+04,2.468620e+03,NaN,14.000000,6.037400e+13
50%,1.254509e+07,1.000000,7.000000,535.000000,2.000000e+00,3.000000e+00,4.000000,6.000000e+00,2.000000e+00,66.0,...,1.000000,NaN,1.270660e+05,3.211610e+05,2.016000e+03,1.766190e+05,4.007620e+03,NaN,14.000000,6.037572e+13
75%,1.409712e+07,1.000000,7.000000,847.500000,3.000000e+00,4.000000e+00,4.000000,8.000000e+00,3.000000e+00,66.0,...,2.000000,NaN,2.040000e+05,5.140720e+05,2.016000e+03,3.261000e+05,6.230500e+03,NaN,15.000000,6.059042e+13
max,1.696019e+08,13.000000,27.000000,8516.000000,3.200000e+01,2.500000e+01,5.000000,1.200000e+01,3.200000e+01,66.0,...,41.000000,NaN,2.553212e+08,3.196225e+08,2.016000e+03,9.401108e+07,3.823176e+06,NaN,99.000000,4.830301e+14

In [2]:
zillowDF2017.count()

parcelid                        2985217
airconditioningtypeid            815362
architecturalstyletypeid           6061
basementsqft                       1627
bathroomcnt                     2982260
bedroomcnt                      2982272
buildingclasstypeid               12731
buildingqualitytypeid           1941395
calculatedbathnbr               2868061
decktypeid                        17379
finishedfloor1squarefeet         203758
calculatedfinishedsquarefeet    2940120
finishedsquarefeet12            2720786
finishedsquarefeet13               7671
finishedsquarefeet15             190185
finishedsquarefeet50             203758
finishedsquarefeet6               21482
fips                            2982285
fireplacecnt                     313124
fullbathcnt                     2868061
garagecarcnt                     891008
garagetotalsqft                  891008
hashottuborspa                    50062
heatingorsystemtypeid           1869164
latitude                        2982285
longitude                       2982285
lotsizesquarefeet               2712511
poolcnt                          539632
poolsizesum                       27958
pooltypeid10                      17006
pooltypeid2                       33056
pooltypeid7                      505895
propertycountylandusecode       2982218
propertylandusetypeid           2982285
propertyzoningdesc              1982471
rawcensustractandblock          2982285
regionidcity                    2923089
regionidcounty                  2982285
regionidneighborhood            1156741
regionidzip                     2972503
roomcnt                         2982248
storytypeid                        1623
threequarterbathnbr              316357
typeconstructiontypeid             6746
unitcnt                         1981042
yardbuildingsqft17                81588
yardbuildingsqft26                 2646
yearbuilt                       2937384
numberofstories                  685676
fireplaceflag                      5163
structuretaxvaluedollarcnt      2938753
taxvaluedollarcnt               2950951
assessmentyear                  2982284
landtaxvaluedollarcnt           2925291
taxamount                       2962465
taxdelinquencyflag                56515
taxdelinquencyyear                56517
censustractandblock             2910232
dtype: int64

In [19]:
taxValueTot = zillowDF2017.groupby('fips')['taxvaluedollarcnt'].sum()

In [ ]:
zillowDF2017.sum()

In [20]:
taxValueTot

fips
6037.0    8.606403e+11
6059.0    3.609846e+11
6111.0    8.720427e+10
Name: taxvaluedollarcnt, dtype: float64